<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @users.each do |user| %>
    <div class="col-xs-12">
      <div class="text-center">
        <h2><%= user.mobile %></h2>
        <h6><%= user.created_at.strftime('%b %d, %Y') %></h6>
      </div>

      <div class="text-center">
        <%= link_to "READ MORE", user_path(user) %>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="wrap">
    <div id="welcome" class="welcome full-screen center-vertically active visible">
    	<div class="container centered">
    	    <h2 id="welcome-message">There are believed to be over 250,000 reported missing persons in the UK every year.</h2>
    		<span id="start" class="start">
    	    	<span class="text">You can help by playing MisPers</span>
    	    	<span class="button">Go</span>
    		</span>
    	</div>
    </div>

    <div id="intro" class="intro active visible">
    	<div id="choices" class="choices">
    		<a id="signin" class="item play">SIGN IN WITH FACEBOOK</a>
    		<div class="item or"><span>OR</span></div>
    		<a id="exit" class="item quit">EXIT</a>
    	</div>
    	<div class="item-container inner">
    		<div id="item_0" class="item"><p>According to the charity Missing People, 140,000 of those reported are children.</p></div>
    	</div>
    	<div class="item-container inner">
    		<div id="item_1" class="item"><p>Greater Manchester Police deal with the second largest number of reported cases in England and Wales, many of whom are between 18–24.</p></div>
    	</div>
    	<div class="item-container inner">
    		<div id="item_2" class="item"><p>The most common reason by those asked by Missing People were problems at home.</p></div>
    	</div>
    	<div class="item-container inner">
    		<div id="item_3" class="item"><p>Many are considered at risk, or have mental health issues, others are unknown.</p></div>
    	</div>
    	<div class="item-container inner">
    		<div id="item_4" class="item"><p>Now imagine you're one of them</p></div>
    	</div>
    	<div class="item-container inner">
    		<div id="item_5" class="item"><p>Follow the story!</p></div>
    	</div>
    </div>

    <div id="logo" class="logo no-touching active visible">
    	<figure>
    		<img src="https://cdn-images-1.medium.com/max/800/1*lWfOpfhSsAF1wMRz1WTatA.png">
    	</figure>
    </div>
  </div>
</div>
