<div class="jumbotron no-background text-center sign_up">
  <h2 class="sign-up-message">Please enter your mobile number. The story will unfoled in realtime by text message over the next few days. Don't worry we will never share you mobile number.</h2>
  <%= render "users/form" %>
</div>
