<div class="sign_up">
  <p>
    Please enter your mobile number. The story will unfoled in realtime by text message over the next few days. Don't worry we will never share you mobile number.

  <%= render "users/form" %>
</div>
