<div class="jumbotron no-background text-center started">
  <h1 class="started-message">Your story begins...</h1>
  <p>
    We will send you SMS messages to the following mobile number: +<%= @user.mobile %>. <br> The story will now unfold in realtime over the next few days* <br> <small>*Not really as we haven't got that bit working, it will unfold all at once!</small>
  </p>
</div>
