<div class="page-header text-center">
  <h1 class="text-uppercase">The Problem</h1>
</div>
<div class="jumbotron no-background text-center">
  <p>
    Greater Manchester Police are trying to tackle a growing problem in Manchester and the UK.
  </p>
  <p>
    There are believed to be over 250,000 reported missing persons in the UK every year.
  </p>
  <p>
    According to the charity Missing People, 140,000 of those reported are children.
  </p>
</div>
<div class="page-header text-center">
  <h1 class="text-uppercase">Our Solution</h1>
</div>
<div class="jumbotron no-background text-center">
  <p>
    To help address this complex social issues we decided to develop an app to raise awareness, inform and educate those about missing persons.
  </p>
  <p>
    The best solution to the missing person problem is to stop people going missing in the first place.
  </p>
  <p>
    MisPers is an interactive SMS based story app that provides a real-time missing person experience.
  </p>
</div>
<h1 class="text-center">
 How to use this service?
</h1>
<div class="jumbotron no-background text-center">
      <p>
        Click <a  href="/?show=true" class="btn btn-default button">here</a> and chose a story to experience
      </p>
      <p>
        Register by entering your phone number
      </p>
      <p>
        The story begins.
      </p>
      <p>
        You will recieve your first SMS shortly after signing up.
      </p>
</div>
<div class="page-header text-center">
  <h1 class="text-uppercase">Features</h1>
</div>
<div class="jumbotron no-background text-center">
  <p>
    Real-time interactive SMS stories that you can influence.
  </p>
  <p>
    Experience a missing person case from a different perspective
  </p>
  <p>
    Find out how you can educate and empower your friends and family to make safe choices
  </p>
</div>
