<div class="page-header text-center">
  <h1 class="text-uppercase">The Problem</h1>
</div>
<div class="jumbotron no-background text-center">
  <p>
    Greater Manchester Police are trying to tackle a growing problem in Manchester and the UK.
  </p>
  <p>
    There are believed to be over 250,000 reported missing persons in the UK every year.
  </p>
  <p>
    According to the charity Missing People, 140,000 of those reported are children.
  </p>
</div>
<div class="page-header text-center">
  <h1 class="text-uppercase">Our Solution</h1>
</div>
<div class="jumbotron no-background text-center">
  <p>
    To help address this complex social issues we decided to develop an app to raise awareness, inform and educate those about missing persons.
  </p>
  <p>
    The best solution to the missing person problem is to stop people going missing in the first place.
  </p>
  <p>
    MisPers is an interactive SMS based story app that provides a real-time missing person experience.
  </p>
</div>
<h1 class="text-center">
  *
</h1>
<div class="jumbotron no-background text-center">
  <p>
    Blah
  </p>
  <p>
    Blah
  </p>
  <p>
    Blah
  </p>
</div>
<div class="page-header text-center">
  <h1 class="text-uppercase">Features</h1>
</div>
<div class="jumbotron no-background text-center">
  <p>
    Blah
  </p>
  <p>
    Blah
  </p>
  <p>
    Blah
  </p>
</div>
