/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";



 @-webkit-keyframes intro {
   0% {
     -webkit-transform: perspective(2000px) translate3d(0, -50%, -1300px);
     -moz-transform: perspective(2000px) translate3d(0, -50%, -1300px);
     transform: perspective(2000px) translate3d(0, -50%, -1300px);
     -webkit-animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     -moz-animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     opacity: 0;
   }

   50% {
     -webkit-transform: perspective(2000px) translate3d(0, -50%, 0);
     -moz-transform: perspective(2000px) translate3d(0, -50%, 0);
     transform: perspective(2000px) translate3d(0, -50%, 0);
     -webkit-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     -moz-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     opacity: 1;
   }

   100% {
     -webkit-transform: perspective(2000px) translate3d(0, -50%, 1300px);
     -moz-transform: perspective(2000px) translate3d(0, -50%, 1300px);
     transform: perspective(2000px) translate3d(0, -50%, 1300px);
     -webkit-animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     -moz-animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     opacity: 0;
   }
 }

 @-webkit-keyframes introEnd {
   0% {
     -webkit-transform: perspective(2000px) translate3d(0, -50%, -100px);
     -moz-transform: perspective(2000px) translate3d(0, -50%, -100px);
     transform: perspective(2000px) translate3d(0, -50%, -100px);
     opacity: 0;
   }

   100% {
     -webkit-transform: perspective(2000px) translate3d(0, -50%, 0);
     -moz-transform: perspective(2000px) translate3d(0, -50%, 0);
     transform: perspective(2000px) translate3d(0, -50%, 0);
     opacity: 1;
   }
 }

 @-webkit-keyframes contentIn {
   0% {
     -webkit-transform: perspective(2000px) translate3d(0, 0, -1300px);
     -moz-transform: perspective(2000px) translate3d(0, 0, -1300px);
     transform: perspective(2000px) translate3d(0, 0, -1300px);
     -webkit-animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     -moz-animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     opacity: 0;
   }

   100% {
     -webkit-transform: perspective(2000px) translate3d(0, 0, 0);
     -moz-transform: perspective(2000px) translate3d(0, 0, 0);
     transform: perspective(2000px) translate3d(0, 0, 0);
     -webkit-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     -moz-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     opacity: 1;
   }
 }

 @-webkit-keyframes contentOut {
   0% {
     -webkit-transform: perspective(2000px) translate3d(0, 0, 0);
     -moz-transform: perspective(2000px) translate3d(0, 0, 0);
     transform: perspective(2000px) translate3d(0, 0, 0);
     -webkit-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     -moz-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     opacity: 1;
   }

   100% {
     -webkit-transform: perspective(2000px) translate3d(0, 0, 1300px);
     -moz-transform: perspective(2000px) translate3d(0, 0, 1300px);
     transform: perspective(2000px) translate3d(0, 0, 1300px);
     -webkit-animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     -moz-animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     opacity: 0;
   }
 }

 @keyframes intro {
   0% {
     -webkit-transform: perspective(2000px) translate3d(0, -50%, -1300px);
     -moz-transform: perspective(2000px) translate3d(0, -50%, -1300px);
     transform: perspective(2000px) translate3d(0, -50%, -1300px);
     -webkit-animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     -moz-animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     opacity: 0;
   }

   50% {
     -webkit-transform: perspective(2000px) translate3d(0, -50%, 0);
     -moz-transform: perspective(2000px) translate3d(0, -50%, 0);
     transform: perspective(2000px) translate3d(0, -50%, 0);
     -webkit-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     -moz-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     opacity: 1;
   }

   100% {
     -webkit-transform: perspective(2000px) translate3d(0, -50%, 1300px);
     -moz-transform: perspective(2000px) translate3d(0, -50%, 1300px);
     transform: perspective(2000px) translate3d(0, -50%, 1300px);
     -webkit-animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     -moz-animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     opacity: 0;
   }
 }

 @keyframes introEnd {
   0% {
     -webkit-transform: perspective(2000px) translate3d(0, -50%, -100px);
     -moz-transform: perspective(2000px) translate3d(0, -50%, -100px);
     transform: perspective(2000px) translate3d(0, -50%, -100px);
     opacity: 0;
   }

   100% {
     -webkit-transform: perspective(2000px) translate3d(0, -50%, 0);
     -moz-transform: perspective(2000px) translate3d(0, -50%, 0);
     transform: perspective(2000px) translate3d(0, -50%, 0);
     opacity: 1;
   }
 }

 @keyframes contentIn {
   0% {
     -webkit-transform: perspective(2000px) translate3d(0, 0, -1300px);
     -moz-transform: perspective(2000px) translate3d(0, 0, -1300px);
     transform: perspective(2000px) translate3d(0, 0, -1300px);
     -webkit-animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     -moz-animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     animation-timing-function: cubic-bezier(0.2, 0.655, 0.4, 0.885);
     opacity: 0;
   }

   100% {
     -webkit-transform: perspective(2000px) translate3d(0, 0, 0);
     -moz-transform: perspective(2000px) translate3d(0, 0, 0);
     transform: perspective(2000px) translate3d(0, 0, 0);
     -webkit-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     -moz-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     opacity: 1;
   }
 }

 @keyframes contentOut {
   0% {
     -webkit-transform: perspective(2000px) translate3d(0, 0, 0);
     -moz-transform: perspective(2000px) translate3d(0, 0, 0);
     transform: perspective(2000px) translate3d(0, 0, 0);
     -webkit-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     -moz-animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     animation-timing-function: cubic-bezier(0.4, 0.015, 0.595, 0.99);
     opacity: 1;
   }

   100% {
     -webkit-transform: perspective(2000px) translate3d(0, 0, 1300px);
     -moz-transform: perspective(2000px) translate3d(0, 0, 1300px);
     transform: perspective(2000px) translate3d(0, 0, 1300px);
     -webkit-animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     -moz-animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     animation-timing-function: cubic-bezier(0.735, 0.045, 0.95, 0.5);
     opacity: 0;
   }
 }

 .static {
   opacity: 0;
   visibility: hidden;
 }

 .in,.static.in,.out,.static.out {
   visibility: visible;
 }

 .in,.static.in {
   opacity: 1;
   -webkit-animation: contentIn 1s;
   -moz-animation: contentIn 1s;
   animation: contentIn 1s;
 }

 .out,.static.out {
   opacity: 0;
   -webkit-animation: contentOut 1s;
   -moz-animation: contentOut 1s;
   animation: contentOut 1s;
 }

 #intro.play #item_0 {
   -webkit-animation: intro 10s 1s;
   -moz-animation: intro 10s 1s;
   animation: intro 10s 1s;
 }

 #intro.play #item_1 {
   -webkit-animation: intro 10s 12s;
   -moz-animation: intro 10s 12s;
   animation: intro 10s 12s;
 }

 #intro.play #item_2 {
   -webkit-animation: intro 10s 22s;
   -moz-animation: intro 10s 22s;
   animation: intro 10s 22s;
 }

 #intro.play #item_3 {
   -webkit-animation: intro 10s 32s;
   -moz-animation: intro 10s 32s;
   animation: intro 10s 32s;
 }

 #intro.play #item_4 {
   -webkit-animation: intro 10s 42s;
   -moz-animation: intro 10s 42s;
   animation: intro 10s 42s;
 }

 #intro.play #item_5 {
   -webkit-animation: introEnd 1.6s ease-out 52s 1 normal forwards;
   -moz-animation: introEnd 1.6s ease-out 52s 1 normal forwards;
   animation: introEnd 1.6s ease-out 52s 1 normal forwards;
 }

 .noUi-target,.noUi-target * {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -ms-touch-action: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 .noUi-base {
   width: 100%;
   height: 100%;
   position: relative;
 }

 .noUi-origin {
   position: absolute;
   right: 0;
   top: 0;
   left: 0;
   bottom: 0;
 }

 .noUi-handle {
   position: relative;
   z-index: 1;
 }

 .noUi-stacking .noUi-handle {
   z-index: 10;
 }

 .noUi-stacking+.noUi-origin {
   *z-index: -1;
 }

 .noUi-state-tap .noUi-origin {
   -webkit-transition: left 0.3s, top 0.3s;
   transition: left 0.3s, top 0.3s;
 }

 .noUi-state-drag * {
   cursor: inherit !important;
 }

 .noUi-horizontal {
   height: 18px;
 }

 .noUi-horizontal .noUi-handle {
   width: 34px;
   height: 28px;
   left: -17px;
   top: -6px;
 }

 .noUi-horizontal.noUi-extended {
   padding: 0 15px;
 }

 .noUi-horizontal.noUi-extended .noUi-origin {
   right: -15px;
 }

 .noUi-vertical {
   width: 18px;
 }

 .noUi-vertical .noUi-handle {
   width: 28px;
   height: 34px;
   left: -6px;
   top: -17px;
 }

 .noUi-vertical.noUi-extended {
   padding: 15px 0;
 }

 .noUi-vertical.noUi-extended .noUi-origin {
   bottom: -15px;
 }

 .noUi-dragable {
   cursor: w-resize;
 }

 .noUi-vertical .noUi-dragable {
   cursor: n-resize;
 }

 [disabled].noUi-connect,[disabled] .noUi-connect {
   background: #B8B8B8;
 }

 [disabled] .noUi-handle {
   cursor: not-allowed;
 }

 html,body {
   margin: 0;
   padding: 0 !important;
   position: relative;
 }

 body * {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
 }

 ::selection,::-moz-selection {
   background: #eee;
   text-shadow: none;
 }

 a {
   text-decoration: none;
 }

 em {
   font-style: italic;
 }

 strong {
   font-weight: bold;
 }

 ul {
   list-style: none;
 }

 ul li:before {
   background: #eee;
   border-radius: 100%;
   content: '';
   display: block;
   float: left;
   height: 5px;
   margin: 10px 0 0 -20px;
   width: 5px;
 }

 hr {
   background: #eee;
   border: none;
   clear: both;
   height: 1px;
   margin: 0;
   padding: 0;
   width: 100%;
 }

 iframe {
   border: none;
 }

 audio,canvas,img,svg,video {
   vertical-align: middle;
 }

 fieldset {
   border: 0;
   margin: 0;
   padding: 0;
 }

 input,textarea {
   border: none;
   border-radius: 0;
   padding: 10px 20px;
 }

 textarea {
   resize: vertical;
 }

 menu {
   margin: 0;
   padding: 0;
 }

 button {
   background: none;
   border: none;
   padding: 10px 20px;
 }

 figure {
   margin: 0;
 }

 #bigtree_bar,#bigtree_bar_tab {
   display: none;
 }

 html {
   background-image: url(../images/icons/icons.svg) no-repeat -9999px -9999px;
   height: 100%;
   width: 100%;
 }

 html * {
   -webkit-font-smoothing: antialiased;
 }

 html .android_false * {
   text-rendering: optimizeLegibility;
 }

 html.touch * {
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
 }

 @media (max-width: 979px) {
   html {
     overflow: hidden;
   }
 }

 body {
   background-color: #b5121b;
   color: #dbd1b7;
   font-family: "adobe-caslon-pro",Georgia,Times,serif;
   height: auto;
   min-height: 100%;
   width: 100%;
   overflow-x: hidden;
   overflow-y: hidden;
 }

 body .wrap {
   height: 100%;
   width: 100%;
   overflow: hidden;
   position: absolute;
   left: 0;
   top: 0;
 }

 @media (min-width: 980px) {
   body {
     height: 100%;
     min-height: 644px;
     overflow-x: hidden;
     overflow-y: auto;
     position: relative;
   }
 }

 .left,.block_left {
   float: left;
 }

 .block_left {
   margin: 0 20px 20px 0;
 }

 .right,.block_right {
   float: right;
 }

 .block_right {
   margin: 0 0 20px 20px;
 }

 .clear {
   clear: both;
 }

 .clearfix:after {
   clear: both;
   content: ".";
   display: block;
   height: 0;
   line-height: 0;
   visibility: hidden;
 }

 .contain {
   overflow: hidden;
 }

 .no_select,.no_select * {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 .hidden {
   display: none !important;
   visibility: hidden;
 }

 .visually_hidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
 }

 .visually_hidden.focusable:active,.visually_hidden.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   width: auto;
 }

 .invisible {
   visibility: hidden;
 }

 .no-touching {
   pointer-events: none;
 }

 .button {
   color: #0F1214;
   cursor: pointer;
   background-color: #ce4415;
   border-radius: 5px;
   display: inline-block;
   padding: 10px 20px;
   text-transform: uppercase;
 }

 @media (min-width: 980px) {
   .button:hover {
     background-color: #90d4c6;
   }
 }

 .full-screen {
   height: 100%;
   position: absolute;
   text-align: center;
   top: 0;
   width: 100%;
 }

 .center-vertically:before {
   content: "";
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -0.25em;
 }

 .center-vertically .centered {
   display: inline-block;
   vertical-align: middle;
 }

 .tooltip {
   background-color: #90d4c6;
   color: #151a1e;
   font-size: 16px;
   font-family: "alternate-gothic-no-3-d",Helvetica,Arial,sans-serif;
   letter-spacing: 0.05em;
   line-height: 1;
   opacity: 0;
   padding: 10px 10px 8px;
   pointer-events: none;
   position: absolute;
   left: 0;
   margin-top: 10px;
   text-transform: uppercase;
   top: 100%;
   white-space: nowrap;
   z-index: 999;
   -webkit-transition: opacity 0.2s linear;
   -moz-transition: opacity 0.2s linear;
   transition: opacity 0.2s linear;
 }

 .tooltip:before {
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-bottom: 5px solid #90d4c6;
   content: "";
   left: 14px;
   position: absolute;
   top: -5px;
 }

 .crosser {
   position: relative;
 }

 .crossed:before,.crossed:after {
   border-top: 2px dotted #ce4415;
   content: "";
   display: block;
   height: 100%;
   left: 0;
   opacity: .8;
   position: absolute;
   top: 50%;
   transform-origin: center top;
   -webkit-transform-origin: center top;
   width: 100%;
   z-index: 1;
 }

 .crossed:before {
   -webkit-transform: rotate(-45deg);
   transform: rotate(-45deg);
 }

 .crossed:after {
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
 }

 #intro {
   background-color: #b5121b;
   display: none;
   height: 100%;
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 8;
   -webkit-transition: opacity 0.5s linear;
   -moz-transition: opacity 0.5s linear;
   transition: opacity 0.5s linear;
 }

 #intro.active {
   opacity: 1;
 }

 #intro.visible {
   display: block;
 }

 #intro #choices {
   font-family: "alternate-gothic-no-3-d",Helvetica,Arial,sans-serif;
   opacity: 0;
   padding-top: 140px;
   position: absolute;
   text-align: center;
   top: 50%;
   vertical-align: middle;
   visibility: hidden;
   width: 100%;
   z-index: 2;
   -webkit-transition: opacity 0.5s linear;
   -moz-transition: opacity 0.5s linear;
   transition: opacity 0.5s linear;
 }

 #intro #choices.active {
   opacity: 1;
 }

 #intro #choices.visible {
   visibility: visible;
 }

 #intro #choices .item {
   display: inline-block;
   font-size: 18px;
   letter-spacing: 0.05em;
   margin: 0 10px;
 }

 #intro #choices a {
   color: #ffffff;
 }

 #intro .item-container {
   height: 100%;
   left: 0;
   position: absolute;
   text-align: center;
   top: 0;
   width: 100%;
   z-index: 1;
 }

 #intro .item-container .item {
   color: #dbd1b7;
   font-size: 36px;
   font-family: "alternate-gothic-no-3-d",Helvetica,Arial,sans-serif;
   letter-spacing: 0.05em;
   opacity: 0;
   padding: 0 20px;
   position: absolute;
   text-align: center;
   text-transform: uppercase;
   vertical-align: middle;
   top: 50%;
   width: 100%;
 }

 @media (min-width: 740px) {
   #intro #choices .item {
     font-size: 24px;
   }

   #intro .item-container .item {
     font-size: 36px;
     padding: 0;
   }
 }

 @media (min-width: 980px) {
   #intro .item-container .item {
     font-size: 56px;
   }
 }

 #welcome {
   background-color: #b5121b;
   font-family: "alternate-gothic-no-3-d",Helvetica,Arial,sans-serif;
   letter-spacing: 0.05em;
   opacity: 0;
   visibility: hidden;
   z-index: 9;
   -webkit-transition: opacity 0.5s linear;
   -moz-transition: opacity 0.5s linear;
   transition: opacity 0.5s linear;
 }

 #welcome.active {
   opacity: 1;
 }

 #welcome.visible {
   visibility: visible;
 }

 #welcome .container {
   text-align: center;
 }

 #welcome #welcome-message {
   font-size: 22px;
   font-weight: 400;
   letter-spacing: 0.05em;
   line-height: 1.2;
   margin: 0 auto 30px;
   padding: 0 20px;
   width: 100%;
   max-width: 600px;
 }

 #welcome #start {
   display: inline-block;
   text-transform: uppercase;
 }

 #welcome #start .text,#welcome #start .button {
   -webkit-transition: background-color 0.2s linear,border-color 0.2s linear,color 0.2s linear,opacity 0.2s linear;
   -moz-transition: background-color 0.2s linear,border-color 0.2s linear,color 0.2s linear,opacity 0.2s linear;
   transition: background-color 0.2s linear,border-color 0.2s linear,color 0.2s linear,opacity 0.2s linear;
 }

 #welcome #start .text {
   color: #fff;
   display: block;
   font-size: 60px;
   letter-spacing: 0.05em;
   margin-bottom: 8px;
 }

 #welcome #start .button {
   background-color: #fff;
   border-radius: 5px;
   color: #0F1214;
   display: inline-block;
   font-size: 20px;
   letter-spacing: 0.05em;
   padding: 6px 14px 6px;
 }

 #welcome #start:hover .text {
   color: #90d4c6;
 }

 #welcome #start:hover .button {
   background-color: #90d4c6;
 }

 @media (min-width: 740px) {
   #welcome #welcome-message {
     letter-spacing: 0.02em;
     font-size: 36px;
   }

   #welcome #start .text {
     font-size: 72px;
   }

   #welcome #start .button {
     font-size: 24px;
     padding: 13px 18px 11px;
   }
 }

 @media (min-width: 980px) {
   #welcome #welcome-message {
     font-size: 48px;
   }
 }


 #logo {
   bottom: 0;
   padding: 10px 0;
   position: fixed;
   text-align: center;
   width: 100%;
   z-index: 9;
 }

 #logo.drop {
   z-index: 3;
 }

 #logo figure {
   display: inline-block;
   height: auto;
   width: 120px;
 }

 #logo figure img {
   width: 100%;
   height: auto;
 }

 @media (min-width: 740px) {
   #logo {
     padding: 30px;
   }

   #logo figure {
     width: 160px;
   }
 }

 @media (min-width: 980px) {
   #logo {
     opacity: 0;
     padding: 20px 0 55px;
     position: absolute;
     -webkit-transition: opacity 0.2s linear;
     -moz-transition: opacity 0.2s linear;
     transition: opacity 0.2s linear;
   }

   #logo.active {
     opacity: 1;
   }

   #logo figure {
     width: 200px;
   }
 }
